<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
	<meta charset="{{ site.charset }}" />
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="author" href="{{ site.theme.link }}/humans.txt" />
	<link rel="pingback" href="{{ site.pingback_url }}" />
	<link rel="profile" href="http://gmpg.org/xfn/11">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap" rel="stylesheet">	


	{% if fn('get_field', 'title-seo') %}
		{% set title = fn('get_field', 'title-seo') %}
	{% endif %}

	{% if fn('get_field', 'description-seo') %}
		{% set description = fn('get_field', 'description-seo') %}
	{% else %}
		{% set description = fn('get_bloginfo', 'description') %}
	{% endif %}

	<title>
		{% if fn('is_front_page') %}
			{{fn('get_bloginfo', 'title')}}
		{% endif %}

		{% if fn('is_tax') %}
			{{fn('get_queried_object').name}}&nbsp;-&nbsp;{{options.seo_title}}
		{% endif %}

		{% if not fn('is_front_page') and not fn('is_tax') %}
			{% if not title %}
				{{fn('wp_title', '')}}&nbsp;-&nbsp;{{options.seo_title}}
			{% else %}
				{{title}}&nbsp;-&nbsp;{{options.seo_title}}
			{% endif %}
		{% endif %}
	</title>
	

	<meta name="description" content="{{description}}">
	<meta name="theme-color" content="{{options.og_color}}">
	<meta property="og:url" content="{{fn('the_permalink')}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{fn('the_title')}}">
	<meta property="og:image" content="{{options.og_img}}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:locale" content="{{fn('get_locale')}}"> 
	<!-- OG -->



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{{site.theme.link}}/dist/css/app.css">

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
{{function('wp_head')}}
